body {
background: #898989;
}

a:link, a:visited {
text-decoration: underline;
color: blue;
}

a:hover, a:active {
text-decoration: none;
color: blue;
}

.navlink:link {
text-decoration: underline;
color: #ffffff;
background-color: inherit;
}

.navlink:visited {
text-decoration: underline;
color: #ffffff;
background-color: inherit;
}

.navlink:hover {
text-decoration: none;
color: #f9a906;
background-color: inherit;
}

#navigation {
float: left;
width: 600px;
border-bottom: 1px solid #000000;
margin: 0px;
padding: 0px;
background-color: #333333;
text-align: center;
color: #ffffff;
font-size: 9pt;
}

#navigation li {
display: inline;
}

#navigation ul {
list-style-type: none;
padding: 0;
margin: 0;
}

#heading {
float: left;
width: 550px;
height: 75px;
text-align: center;
margin-top: 25px;
margin-left: 25px;
border: 2px solid #000000;
background-color: #333333;
}

#wrapper {
width: 600px;
height: 850px;
padding: 0px;
border: 2px solid #000000;
margin: 0 auto;
background-color: #003399;
}

#body {
float: left;
width: 530px;
height: 625px;
padding: 10px;
margin-top: 35px;
margin-left: 25px;
border: 2px solid #000000;
background-color: #dcdcdc;
font-size: 9pt;
}

#wrapper-schedule {
width: 600px;
height: 1350px;
padding: 0px;
border: 2px solid #000000;
margin: 0 auto;
background-color: #003399;
}

#body-schedule {
float: left;
width: 530px;
height: 1110px;
padding: 10px;
margin-top: 35px;
margin-left: 25px;
border: 2px solid #000000;
background-color: #dcdcdc;
font-size: 9pt;
}

.separator {
height: 3px;
background-color: #898989;
margin-bottom: 1em;
clear: both;
}

h1 {
color: #dcdcdc;
font-weight: bold;
font-size: 22pt;
}

p {
font-family: serif, sans-serif;
margin-top: 0;
margin-bottom: 1em;
}

h3 {
font-weight: bold;
}

h4 {
font-weight: bold;
margin: 0;
}

.down {
color: red;
font-weight: bold;
}

.up {
color: green;
font-weight: bold;
}
